ul (
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /*background-color: rgb(255, 230, 230);
    color: lightpink;
    background-color: rgb(248, 236, 242);
)

#body2(
    color: rgb(230, 230, 255)

)

body (
    background-color:rgb(255, 230, 204) ;

)

#p1 (
    color: rgb(243, 230, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucide Petite';
    front size: medium;

    .third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: rgb(255, 230, 230)
}
.third-level-menu > li:hover {rgb(255, 229, 204); }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: rgb(255, 230, 230);
}
.second-level-menu > li:hover { background: rgb(255, 229, 204); }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: rgb(255, 230, 230);
}
.top-level-menu > li:hover { background: rgb(255, 229, 204); }

.top-level-menu li:hover > ul
{
    /* Op naar de volgende menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Toepassen op alle links in het menu met meerdere niveaus */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 0 0 10px;

    /*Zorg ervoor dat de link de hele lijst item-container dekt */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }
<ul class="top-level-menu">
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li>
        <a href="#">Offices</a>
        <ul class="second-level-menu">
            <li><a href="#">Chicago</a></li>
            <li><a href="#">Los Angeles</a></li>
            <li>
                <a href="#">New York</a>
                <ul class="third-level-menu">
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Book a Meeting</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </li>
            <li><a href="#">Seattle</a></li>
        </ul>
    </li>
    <li><a href="#">Contact</a></li>
</ul>