ul (
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /*background-color: #f1f1f13b;*/
    color: lightpink;
    background-color: beige(205, 90,182);
)

#body2(
    color: green

)